#root {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  padding: 2rem;
}

.status {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--green-600);
}

.status.red {
  background-color: var(--rose-600);
}

.name,
.info {
  color: var(--slate-200);
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}
